<div class="card" style="padding:15px;max-width:300px">
    <h3 class="text-uppercase" ><%= category.name%></h3>
    <p class="text-secondary" ><%= category.created_at%></p>
    <%= link_to "Ver más", category %>
</div>