<div class="large-container">
    <div class="container">
    <h1>Mis Categorias</h1>
    <!--<%= render @categories%>-->
    <!--<% @categories.each do |category|%>
        <div class="card" style="padding:15px;max-widht:300px">
            <h3 class="text-uppercase" ><%= category.name%></h3>
            <p class="text-secondary" ><%= category.created_at%></p>
            <%= link_to "Ver más", category %>
        </div>
    <%end%>-->
    </div>
</div>
